torch>=2.0.0
torchvision>=0.15.0
webdataset>=0.2.5
regex
ftfy
tqdm
pandas
numpy
pillow
braceexpand
huggingface_hub
transformers[sentencepiece]
timm>=1.0.7
fsspec
wandb
tensorboard
scipy
scikit-learn
matplotlib